@import "../../shared/variables.scss";

.sidebar {
  padding-top: 5px;

  p {
    color: map-get($theme-colors, dark-blue);
    text-align: left;
    margin-bottom: 0;
    font-size: 22px;
    line-height: 1.3em;

    span {
      font-size: 18px;
    ***REMOVED***
  ***REMOVED***

  a {
    color: map-get($theme-colors, dark-blue);

    &:hover {
      color: map-get($theme-colors, light-blue);
    ***REMOVED***
  ***REMOVED***

  small {
    color: map-get($theme-colors, gray);
    display: block;
    margin: 1rem 0;
  ***REMOVED***

  .gform_wrapper form {
    margin-top: 1rem;

    input[type="text"] {
      border: 2px solid #fff;
      background: #fff !important;
    ***REMOVED***
  ***REMOVED***
***REMOVED***

.pageContent {
  color: map-get($theme-colors, gray);
  padding-bottom: 3rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: map-get($theme-colors, darkest-blue);
    clear: both;
    margin-bottom: 1rem;
  ***REMOVED***

  a {
    color: map-get($theme-colors, dark-blue);

    &:hover {
      color: map-get($theme-colors, light-blue);
    ***REMOVED***
  ***REMOVED***
***REMOVED***
