@import "../../shared/variables.scss";

nav.navbar.navbar-expand-lg.navbar-light {
  #basic-navbar-nav {
    .navbar-nav {
      max-width: 1140px;
      width: 100%;
      justify-content: space-between;
      align-content: space-evenly;

      .dropdown.nav-item {
        #basic-nav-dropdown {
          color: #fff;
        ***REMOVED***
      ***REMOVED***

      a {
        color: map-get($theme-colors, light-blue);
        font-size: 16px;
        font-weight: bold;
        flex-grow: 1;
        padding: 0 1.25rem;
        text-align: center;
        text-transform: uppercase;

        &:hover,
        &[aria-current="page"] {
          font-weight: bold;
        ***REMOVED***
      ***REMOVED***
    ***REMOVED***
  ***REMOVED***

  @media screen and (min-width: 992px) {
    padding: 0;
  ***REMOVED***
***REMOVED***
