.navBar {
  padding: 0;

  .toggle {
    background: #fff;
    color: #fff;

    span {
      color: #fff;
    ***REMOVED***
  ***REMOVED***

  @media screen and (min-width: 992px) {
    .navLink:first-child {
      display: none;
    ***REMOVED***
  ***REMOVED***
***REMOVED***
