$theme-colors: (
  light-blue: #55a3d7,
  dark-blue: #035baa,
  darkest-blue: #003176,
  turquoise: #92d0c5,
  gray: #707070,
  dark-gray: #494949,
  darkest-gray: #353735,
  light-yellow: #fffeed,
  yellow: #fcf7b4,
);

@function rem($pxval, $base: 16) {
  @if not unitless($pxval) {
    $pxval: strip-units($pxval);
  ***REMOVED***

  @if not unitless($base) {
    $base: strip-units($base);
  ***REMOVED***

  @return ($pxval / $base) * 1rem;
***REMOVED***
