@import "../shared/variables.scss";

.gravityForm {
  .button {
    border: 1px solid map-get($theme-colors, darkest-blue);
    font-size: 1rem;
    padding: 10px 0;
    width: 100%;
  }
}

.display-flex {
  display: flex;
  align-items: center;

  span {
    color: #707070;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 1px;
  }
}
.blue-box{
  border: 2px solid #00aeef !important;
  border-radius: .325rem;
  padding: 1rem;
  color: #00aeef;
  font-family: "Avenir Bold", sans-serif;
  font-weight: 500;
  // margin: 0 1rem;
  a{
    color: #00aeef;
  }
}

.index-module--homeForm--2nRoH, .index-module--gravityForm--3475j{
  padding: 0 !important;
}

.footer-form{
  padding: .8rem !important;
}

.video-wrap{
  video{
    &[poster]{
      object-fit: cover;
    }
  }
}