@import "../shared/mixins/buttons";
@import "../shared/mixins/background-image";
@import "../shared/variables.scss";

h3 {
  color: map-get($theme-colors, darkest-blue);
  text-transform: uppercase;
}

strong {
  font-family: "Avenir Bold", sans-serif;
}

h2 {
  color: map-get($theme-colors, darkest-blue);
  font-size: rem(24) !important;
  line-height: rem(34) !important;
  margin-top: 25px;
  text-transform: uppercase;

  @media screen and (min-width: 992px) {
    margin-top: 0;
  }
}

p {
  font-size: rem(14);
  line-height: rem(27);

  strong {
    color: map-get($theme-colors, dark-blue);
  }
}

.genericSection {
  color: map-get($theme-colors, darkest-gray);
  padding: 2.5em 0;

  .verticalCenter {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  img {
    border: 1px solid map-get($theme-colors, turquoise);
    border-radius: rem(3);
  }

  .blueBorder img {
    border: 1px solid map-get($theme-colors, light-blue) !important;
    border-radius: rem(3);
  }

  .lightBlue {
    color: map-get($theme-colors, light-blue);
    font-family: "Avenir Bold", sans-serif;
  }

  ul {
    li {
      font-size: rem(14);
    }

    li::marker {
      color: map-get($theme-colors, darkest-blue);
    }
  }

  .buttonBottom {
    @media screen and (min-width: 1200px) {
      bottom: 0;
      margin-bottom: 0;
      position: absolute;
    }
  }

  .homeImg {
    @media screen and (min-width: 1200px) {
      margin-bottom: 47px;
    }
  }

  .mainBtn {
    @include buttonMain();
  }

  .secondaryBtn {
    @include buttonSecondary();
  }

  .mobileReverse {
    flex-direction: column-reverse;

    @media screen and (min-width: 992px) {
      flex-direction: row;
    }
  }
}

.homeForm {
  align-content: center;
  align-self: center;
  background: #fff;
  border: 1px solid #fff;
  border-radius: rem(5);
  -webkit-box-shadow: 5px 3px 7px -6px rgba(0, 0, 0, 0.91);
  box-shadow: 5px 3px 7px -6px rgba(0, 0, 0, 0.91);
  color: map-get($theme-colors, dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 35px auto;
  max-width: rem(280) !important;
  padding: 25px 0;
  text-align: center;

  h3 {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .gravityForm {
    padding: 0 rem(20);
  }

  @media screen and (min-width: 992px) {
    margin: 0 0 0 auto;
  }

  p {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;

    a {
      color: #fff;
      font-weight: bold;
    }

    small {
      font-size: rem(17);
      text-transform: none;

      .cta {
        color: map-get($theme-colors, light-blue);
        font-size: rem(26);

        a {
          color: map-get($theme-colors, light-blue);
        }
      }

      .smaller {
        font-size: rem(14);
      }
    }
  }

  input {
    border: 1px solid #878887 !important;
    border-radius: 5px;
  }

  button {
    border: 1px solid map-get($theme-colors, darkest-blue);
    font-weight: bold;
    width: 100%;
  }
}

.section1 {
  padding: 4rem 0;

  @media screen and (max-width: 992px) {
    background: url(../images/hero-mobile.jpg) center top no-repeat !important;
    background-size: cover !important;
    padding-top: rem(500);

    &:before {
      background-image: unset !important;
      content: "";
      height: 100%;
      width: 100%;
    }

    &:after {
      display: none !important;
    }
  }

  .row {
    flex-direction: column;

    @media screen and (min-width: 992px) {
      flex-direction: row;
    }
    .text {
      color: #004987;

      @media screen and (min-width: 992px) {
        color: #0e79bf;
        max-width: 350px;
      }

      h1 {
        color: map-get($theme-colors, darkest-blue);
        font-family: "Helvetica Neue Medium", sans-serif;
        font-size: rem(44);
        line-height: rem(55);
        padding-top: rem(40);
        text-align: center;

        @media screen and (min-width: 992px) {
          text-align: left;
        }
      }

      p {
        color: #54565a;

        @media screen and (min-width: 992px) {
          color: #707070;
        }
      }
    }
  }
}

.ourApproach {
  .homeImg {
    margin-bottom: 2rem;

    @media screen and (min-width: 992px) {
      margin-bottom: 0;
    }
  }
}

.callOutContainer {
  background: rgb(3, 51, 121);
  background: -moz-linear-gradient(
    180deg,
    rgba(3, 51, 121, 1) 0%,
    rgba(69, 162, 225, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(3, 51, 121, 1) 0%,
    rgba(69, 162, 225, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(3, 51, 121, 1) 0%,
    rgba(69, 162, 225, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#033379",endColorstr="#45a2e1",GradientType=1);
  padding: 2rem 0;

  .callOut {
    font-family: "Avenir Bold", sans-serif;
    font-size: rem(32);
    line-height: rem(60);
    text-transform: uppercase;
  }
}

.section2 {
  padding: 0;
  h2 {
    color: map-get($theme-colors, darkest-blue);
    font-size: rem(20) !important;
    text-transform: uppercase;

    strong {
      font-family: "Avenir Bold", sans-serif;
    }
  }

  img {
    border: none;
    margin: 0 auto 1.5rem auto;
    max-width: rem(100);
  }

  h3 {
    color: map-get($theme-colors, darkest-blue);
    font-size: rem(16);
    text-transform: uppercase;
  }

  p {
    font-size: rem(14);
    line-height: rem(24);
  }

  .darkestBlue {
    color: map-get($theme-colors, darkest-blue);
  }
}

.section4 {
  .subHeading {
    color: map-get($theme-colors, dark-blue);
    font-size: rem(18);
  }

  h3 {
    color: map-get($theme-colors, darkest-blue);
    font-size: rem(16);
    margin-top: 2rem;
    text-transform: uppercase;
  }

  p {
    font-size: rem(14);
    line-height: rem(27);
  }

  img {
    border: 1px solid map-get($theme-colors, light-blue);
  }
}

.section6 {
  p {
    font-size: rem(14);
    line-height: rem(27);
  }
}

.insurances {
  display: grid;
  gap: 1em;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  margin: 2em 0;

  &::before {
    content: "";
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  & > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  @media screen and (min-width: 767px) {
    grid-template-columns: repeat(5, 1fr);
  }

  .insuranceItem {
    border: 1px solid map-get($theme-colors, light-blue);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    border: none;
    margin: 0;
    width: 100%;
  }
}

.testimonialSlider {
  color: #00aeef;
  font-size: 25px;

  p {
    padding: 0 1em;

    .author {
      color: map-get($theme-colors, gray);
      display: block;
      font-size: 20px;
      font-weight: bold;
      margin-top: 25px;
    }
  }
}

.lightBack {
  background-color: #fbfbfb;
}

.yellowBack {
  background-color: map-get($theme-colors, light-yellow);
}

.contactSection {
  padding: rem(150) 0 rem(50) 0;

  .homeForm {
    @media screen and (min-width: 992px) {
      margin-bottom: rem(-130) !important;
    }
  }
}

.contactBottom {
  padding: rem(20) 0 rem(70) 0;
}

.noBorder {
  margin: auto;
  max-width: 1200px;

  img {
    border: none !important;
    margin: auto;
  }
}
