@import "../shared/variables.scss";

.gravityForm {
  .button {
    // border: 1px solid map-get($theme-colors, darkest-blue);
    // font-size: 1rem;
    // padding: 10px 0;
    width: 100%;

    color: #46A5E3;
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #F5F5F5 52%, #ECECEC 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #CDCDCD;
    font-size: rem(16);
    padding: 0.5em;
    // margin: rem(24) 0;
    border-radius: 4px;
  }
}

.display-flex {
  display: flex;
  align-items: center;

  span {
    color: #707070;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 1px;
  }
}
// calendly button container
.blue-box{
  // font-family: "Helvetica Neue Medium", sans-serif;
  font-size: rem(19);
  margin: 0.75em 0;
  button{
    color: #fff;
    background: transparent linear-gradient(180deg, #46A5E3 0%, #023076 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #023076;
    border-radius: 4px;
    padding: 0.5em;
  }
}

.index-module--homeForm--2nRoH, .index-module--gravityForm--3475j{
  padding: 0 !important;
}

#we-partner {
  .blue-box button {
    @media screen and (min-width: 992px) {
      padding-left: rem(50);
      padding-right: rem(50);
    }
  }
}

.footer-form{
  padding: .8rem !important;

  .blue-box {
    font-size: rem(14);
  }
}

.video-story {

  background: #D9E0EA;
  @media screen and (min-width: 992px) {
    // padding: 5em 0;
    padding: 2.5em 0;
  }

  .quote {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    padding: rem(20);

    @media screen and (max-width: 991px) {
      // padding: 2em 0;
    }

    p {
      flex-grow: 1;
      font-size: rem(28);
      line-height: rem(35);
      font-style: italic;
      color: #023076;
      margin: rem(20) 0;
    }
  }

  &.bg-2 {
    background: #ffffff;
    p {
      color: #46A5E3;
    }
  }

  img:last-child {
    margin-left: auto;
  }

  .video-wrap{
    video{
      &[poster]{
        object-fit: cover;
      }
    }
  }
}
