.desktopNav.navbar {
  display: none;

  @media screen and (min-width: 992px) {
    display: flex;
  ***REMOVED***
***REMOVED***

.mobileNav.navbar {
  background-color: #fff;
  display: flex;

  a {
    margin: 0.5rem 0;
  ***REMOVED***

  @media screen and (min-width: 992px) {
    display: none;
  ***REMOVED***
***REMOVED***
