@import "../../shared/variables.scss";

footer {
  background: map-get($theme-colors, light-yellow);
  padding: 3em 0 0 0;

  @media screen and (max-width: 992px) {
    padding-top: rem(200);
  }

  .footerTextContainer {
    padding: rem(15) 1.5rem rem(85) 1.5rem;

    h2,
    a {
      color: map-get($theme-colors, darkest-blue);
    }

    h2 {
      font-size: rem(24);
      margin-bottom: rem(25);
    }

    h4 {
      color: map-get($theme-colors, darkest-blue);
      font-size: rem(16);
      margin-bottom: 0;
    }

    .lightBlue {
      color: map-get($theme-colors, light-blue);
      font-family: "Avenir Bold", sans-serif;
      margin-bottom: rem(25);
    }

    p {
      margin-bottom: rem(40);
    }

    .map {
      iframe {
        border: 1px solid map-get($theme-colors, turquoise);
        border-radius: rem(3);
        max-width: rem(600);
      }
    }

    .textRight {
      padding-top: rem(50);

      .black {
        color: #000;
        font-size: rem(14);
      }
    }
  }

  .footerCopyRight {
    background-color: map-get($theme-colors, darkest-blue);
    border-bottom: rem(12) solid #ffe74b;
    color: map-get($theme-colors, light-blue);
    display: flex;
    font-size: rem(10);
    justify-content: center;
    padding: rem(25) 0;
    text-align: left;
    text-transform: uppercase;

    @media screen and (min-width: 992px) {
      text-align: right;
    }

    .footerContainer {
      display: flex;
      align-items: center;

      a {
        color: map-get($theme-colors, light-blue);
      }

      .footerLogo {
        padding: 0;

        img {
          margin-bottom: 1rem;
          max-width: 150px;

          @media screen and (min-width: 992px) {
            margin: 0;
          }
        }
      }
    }
  }
}
