@import "../variables.scss";

@mixin siteBtn($color) {
  background-color: $color;
  border-color: $color;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  color: #242729;
  font-size: 20px;
  padding: 10px 45px;

  &:hover,
  &:active,
  &:focus {
    border-color: $color !important;
    color: $color !important;
    background-color: #fff !important;
  ***REMOVED***
***REMOVED***

@mixin buttonMain {
  background: #00aeef;
  border: 1px solid #0e79bf;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px 45px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  transition: background-color 1.3s ease-in-out;

  &:hover {
    background: #02e1ff;
  ***REMOVED***
***REMOVED***

@mixin buttonSecondary {
  background: rgb(0, 49, 118);
  background: -moz-linear-gradient(
    71deg,
    rgba(0, 49, 118, 1) 0%,
    rgba(85, 163, 215, 1) 100%
  );
  background: -webkit-linear-gradient(
    71deg,
    rgba(0, 49, 118, 1) 0%,
    rgba(85, 163, 215, 1) 100%
  );
  background: linear-gradient(
    71deg,
    rgba(0, 49, 118, 1) 0%,
    rgba(85, 163, 215, 1) 100%
  );
  border: 1px solid map-get($theme-colors, darkest-blue);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#003176",endColorstr="#55a3d7",GradientType=1);
  border: 1px solid map-get($theme-colors, dark-blue);
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px 45px;
  transition: background-color 1.6s ease-in-out;

  &:hover {
    background: #fff;
    color: map-get($theme-colors, darkest-blue);
  ***REMOVED***
***REMOVED***
