@import "../../shared/variables.scss";

.sliderWrap {
  background: #fff;
  position: relative;

  .slick-dots li {
    margin-right: 0.65em;
  ***REMOVED***

  .slick-dots li button:before {
    color: map-get($theme-colors, gray) !important;
    font-size: 12px !important;
    opacity: 0.6 !important;
  ***REMOVED***

  .slick-dots li.slick-active button:before {
    color: #00aeef !important;
    opacity: 1 !important;
  ***REMOVED***

  .slick-track {
    align-items: center;
    display: flex;
  ***REMOVED***
***REMOVED***
